@model List<User>

<div class=text-center>
    <h1>Here are some users!</h1>
    @{
        foreach (User user in Model)
        {
            <p>@user.FirstName @user.LastName</p>
        }
    }
</div>